body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: yellow;
}

.base {
    background-color: grey;
    height: 40vh;
    width: 30vh;
    border-radius: 10px;
}

.visor {
    background-color: white;
    height: 10vh;
    width: 28vh;
    display: flex;
    justify-self: center;
    margin-top: 1vh;
    border-radius: 10px;
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 1vh;
}

.botoes {
    display: grid;
    grid-template-columns: 5px repeat(4, 30px);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.botoes button {
    height: 30px;
    width: 30px;
    font-size: 1.4em;
}
