body {
    background-color: rgb(221, 180, 77);
    height: 0;
    width: 0;
}

.central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.base {
    background-color: gray;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.visor {
    background-color: white;
    width: 275px;
    height: 100px;
    transform: translate(5%, 15%);
    border-radius: 10px;
}

.botao {
    background-color: white;
    height: 30px;
    width: 30px;
}

.posicao_mais {
    transform: translate(225px, 50px);
}

.posicao_9 {
    transform: translate(150px, 50px);
}

.posicao_8 {
    transform: translate(75px, 50px);
}

.posicao_7 {
    transform: translate(1px, 50px);
}

.posicao_menos {
    transform: translate(89px, 100px);
}

.posicao_6 {
    transform: translate(14px, 100px);
}
